<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.channing.snailhouse.model.PostMapper">
    <resultMap id="postDto" type="com.channing.snailhouse.bean.dto.PostDto">
        <id column="id" property="id"/>
        <result column="post_author_id" property="postAuthorId"/>
        <result column="post_date" property="postDate"/>
        <result column="post_date_gmt" property="postDateGMT"/>
        <result column="post_content" property="postContent"/>
        <result column="post_title" property="postTitle"/>
        <result column="post_excerpt" property="postExcerpt"/>
        <result column="post_status" property="postStatus"/>
        <result column="comment_status" property="commentStatus"/>
        <result column="post_password" property="postPassword"/>
        <result column="post_name" property="postName"/>
        <result column="ping_status" property="pingStatus"/>
        <result column="post_modified" property="postModified"/>
        <result column="post_modified_gmt" property="postModifiedGMT"/>
        <result column="post_parent" property="postParent"/>
        <result column="menu_order" property="menuOrder"/>
        <result column="post_type" property="postType"/>
        <result column="post_mime_type" property="postMimeType"/>
        <result column="comment_count" property="commentCount"/>
        <result column="visit_count" property="visitCount"/>
    </resultMap>
    <select id="queryPostList" resultMap="postDto">
        SELECT *
        FROM sh_posts t
        WHERE
        1=1
        ORDER BY t.id DESC

    </select>
</mapper>